#intro {

	border: 3px black double;
	display: inline-block;
	padding: 5px;
	font-family: Abril Fatface;
	font-style: bold;
}

 .center {
    margin-left:auto; 
    margin-right:auto;
  }

  #text-center {
  	text-align: center;
  }

  .image { 
	position: relative;
	margin-bottom: 5px;
	height: 40px;
}

body {
	background-color: #f6f1ed;
}

ul {

	border-style: solid;
	border-bottom-width: 1px;
	border-color: #6a5750;
	display: inline-block;
	padding: 25px;
	background-color: #b5a397

}

a:visited {
    color: #935347;
}

/*iPhone6 portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/*iPhone6 landscape*/
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}
