<h1 id="profile-header"><%= @user.username %>'s Blog</h1>

<% if @user == current_user %>
  <span id="new_post"><%= link_to 'New Post', new_post_path %></span>
<% end %>

<% @user.posts.each do |post| %>
  <%= render 'post'%>
<% end %>

